<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oteo.core.mybatis.mapper.EnvironmentalConflictCompanyMapper">

	<sql id="environmentalConflictCompanyColumns">
		${alias}.environmental_conflict_id AS ${alias}_environmental_conflict_id,
		${alias}.company_id AS ${alias}_company_id
	</sql>

	<resultMap id="environmentalConflictCompanyResultMap" type="com.oteo.core.mybatis.domain.EnvironmentalConflictCompany">
		<id property="environmentalConflictId" column="environmental_conflict_company_environmental_conflict_id" />
		<id property="companyId" column="environmental_conflict_company_company_id" />
	</resultMap>

	<select id="getEnvironmentalConflictsByCompanyId" resultMap="environmentalConflictCompanyResultMap">
		SELECT
			<include refid="environmentalConflictCompanyColumns"><property name="alias" value="environmental_conflict_company"/></include>
		FROM
			environmental_conflict_company environmental_conflict_company
		WHERE
			environmental_conflict_company.company_id = #{companyId}
	</select>

	<insert id="addOrUpdateEnvironmentalConflictCompany">
		INSERT INTO environmental_conflict_company (environmental_conflict_id, company_id)
		VALUES (#{environmentalConflictId}, #{companyId})
		ON CONFLICT (environmental_conflict_id, company_id) DO NOTHING;
	</insert>

</mapper>